<div class="login-status-header">

  <div *ngIf="isAuthenticated; else loginTemplate">
    Bem vindo {{ userEmail }}!

    <button (click)="logout()" class="security-btn ms-2">
      <!--    <button (click)="authService.logout()" class="security-btn ms-2">-->
      Logout
    </button>

    <button [routerLink]="['/members']" class="security-btn mx-1">
      Membro
    </button>

    <button [routerLink]="['/order-history']" class="security-btn">
      Pedidos
    </button>
  </div>

  <ng-template #loginTemplate>
    <button (click)="login()" class="security-btn">
      <!--    <button (click)="authService.loginWithRedirect()" class="security-btn">-->
      Login
    </button>
  </ng-template>
</div>
