<div class="login-status-header">

  <div *ngIf="authService.isAuthenticated$ | async; else login">
    Bem vindo {{ (authService.user$ | async)?.nickname }}!
    <button
      (click)="authService.logout()" class="security-btn">
      Logout
    </button>
    <button
      [routerLink]="['/members']"
      class="security-btn  mx-1">
      Membro
    </button>
  </div>
  <ng-template #login>
    <button
      (click)="authService.loginWithRedirect()"
      class="security-btn">
      Login
    </button>
  </ng-template>
</div>
