<div class="login-status-header">

  <div *ngIf="((authService.isAuthenticated$ | async) === true) && (authService.user$ | async) as user"
       class="login-status-user-info">
    Bem vindo {{ user.nickname }}!
  </div>
  <button
    (click)="login()" *ngIf="(authService.isAuthenticated$ | async) === false"
    class="security-btn">
    Login
  </button>
  <button
    (click)="logout()" *ngIf="(authService.isAuthenticated$ | async) === true"
    class="security-btn">
    Logout
  </button>
</div>
