<div class="detail-section">
  <div class="container-fluid">
    <img alt="product image" class="detail-img" src="{{ product.imageUrl }}">
    <h3>{{ product.name }}</h3>
    <div class="price">{{ product.unitPrice | currency: 'USD'}}</div>
    <a (click)="addToCart()" class="primary-btn" style="cursor: pointer">(+) carrinho</a>
    <hr>
    <h4>Descrição</h4>
    <p>{{ product.description}}</p>
    <a [routerLink]="['products']" class="mt-5" style="cursor: pointer">Lista de produtos</a>
  </div>
</div>
