<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form (ngSubmit)="onSubmit()" [formGroup]="checkoutFormGroup">
        <!--Cliente-->
        <div class="form-area" formGroupName="customer">
          <h3>Cliente</h3>

          <div class="row">
            <div class="col-md-2">
              <label for="firstName">Nome</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="firstName" id="firstName" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label for="lastName">Sobrenome</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="lastName" id="lastName" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label for="email">Email</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="email" id="email" type="text">
              </div>
            </div>
          </div>
        </div>

        <!--Endereço de entrega-->
        <div class="form-area" formGroupName="shippingAddress">
          <h3>Endereço de entrega</h3>
          <!--País-->
          <div class="row">
            <div class="col-md-2">
              <label for="country">País</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select (change)="getStates('shippingAddress')" formControlName="country" id="country">
                  <option *ngFor="let country of countries"
                          [ngValue]="country"
                  >
                    {{country.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <!--Rua e numero-->
          <div class="row">
            <div class="col-md-2">
              <label for="street">Rua/Número</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" id="street" type="text">
              </div>
            </div>
          </div>
          <!--Cidade-->
          <div class="row">
            <div class="col-md-2">
              <label for="city">Cidade</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="city" id="city">
                  <option value="natal">Natal</option>
                  <option value="parnamirim">Parnamirim</option>
                  <option value="monte alegre">Monte Alegre</option>
                </select>
              </div>
            </div>
          </div>
          <!--Estado-->
          <div class="row">
            <div class="col-md-2">
              <label for="state">Estado</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state" id="state">
                  <option *ngFor="let state of shippingAddressState"
                          [ngValue]="state.name">{{state.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <!--CEP-->
          <div class="row">
            <div class="col-md-2">
              <label for="zipCode">CEP</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" id="zipCode" type="text">
              </div>
            </div>
          </div>
        </div>

        <!--Endereço de cobrança igual ao de entrega-->
        <div class="input-space">
          <label class="au-checkbox">
            <input (change)="copyShippingAddressToBillingAddress($event)" type="checkbox">
            <span class="au-checkmark"></span>Endereço de Cobrança igual ao de Entrega
          </label>
        </div>

        <!--Endereço de cobrança-->
        <div class="form-area" formGroupName="billingAddress">
          <h3>Endereço de cobrança</h3>
          <!--País-->
          <div class="row">
            <div class="col-md-2">
              <label for="billingCountry">País</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                  (change)="getStates('billingAddress')"
                  formControlName="country"
                  id="country"
                >
                  <option *ngFor="let country of countries"
                          [ngValue]="country">{{country.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <!--Rua e numero-->
          <div class="row">
            <div class="col-md-2">
              <label for="billingStreet">Rua</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" id="billingStreet" type="text">
              </div>
            </div>
          </div>
          <!--Cidade-->
          <div class="row">
            <div class="col-md-2">
              <label for="billingCity">Cidade</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="city" id="billingCity">
                  <option value="natal">Natal</option>
                  <option value="parnamirim">Parnamirim</option>
                  <option value="monte alegre">Monte Alegre</option>
                </select>
              </div>
            </div>
          </div>
          <!--Estado-->
          <div class="row">
            <div class="col-md-2">
              <label for="billingState">Estado</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state" id="billingState">
                  <option *ngFor="let state of billingAddressState"
                          [ngValue]="state.name"
                  >
                    {{state.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <!--CEP-->
          <div class="row">
            <div class="col-md-2">
              <label for="billingZipCode">CEP</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" id="billingZipCode" type="text">
              </div>
            </div>
          </div>
        </div>

        <!--Cartão de crédito-->
        <div class="form-area" formGroupName="creditCard">
          <h3>Cartão de crédito</h3>
          <!--Tipo cartão-->
          <div class="row">
            <div class="col-md-2">
              <label for="cardType">Tipo de cartão</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="cardType" id="cardType">
                  <option value="visa">Visa</option>
                  <option value="visa">Master</option>
                </select>
              </div>
            </div>
          </div>
          <!--Nome proprietário cartão-->
          <div class="row">
            <div class="col-md-2">
              <label for="nameOnCard">Nome no cartão</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="nameOnCard" id="nameOnCard" type="text">
              </div>
            </div>
          </div>
          <!--Número cartão-->
          <div class="row">
            <div class="col-md-2">
              <label for="cardNumber">Número do cartão</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="cardNumber" id="cardNumber" type="text">
              </div>
            </div>
          </div>
          <!--Código de Segurança-->
          <div class="row">
            <div class="col-md-2">
              <label for="securityCode">Código de segurança</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="securityCode" id="securityCode" type="text">
              </div>
            </div>
          </div>
          <!--Validade mês-->
          <div class="row">
            <div class="col-md-2">
              <label for="expirationMonth">Validade/Mês</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationMonth" id="expirationMonth">
                  <option *ngFor="let month of creditCardMonths" value="{{month}}">{{month}}</option>
                </select>
              </div>
            </div>
          </div>
          <!--Validade ano-->
          <div class="row">
            <div class="col-md-2">
              <label for="expirationYear">validade/Ano</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select (change)="handleMonthsAndYears()" formControlName="expirationYear" id="expirationYear">
                  <option *ngFor="let year of creditCardYears" value="{{ year }}">{{ year }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!--Resumo da compra-->
        <div class="form-area" style="font-weight: bold">
          <h3>Resumo da compra</h3>
          <p>Quantidade total de itens: {{ totalQuantity }}</p>
          <p>Frete: GRÁTIS</p>
          <p>Valor total da compra: {{ totalPrice | currency: 'USD' }}</p>
        </div>

        <!--Submit button-->
        <div class="text-center">
          <button class="btn btn-info" type="submit">
            Comprar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
