<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form (ngSubmit)="onSubmit()" [formGroup]="checkoutFormGroup">
        <!--Cliente-->
        <div class="form-area" formGroupName="customer">
          <h3>Cliente</h3>
          <!--Nome-->
          <div class="row">
            <div class="col-md-2">
              <label for="firstName">Nome</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="firstName" id="firstName" type="text">
                <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert alert-danger">
                  <div *ngIf="firstName?.errors?.['required'] || firstName?.errors?.['notOnlyWhitespace']">
                    Nome é obrigatório
                  </div>
                  <div *ngIf="firstName?.errors?.['minlength'] && !firstName?.errors?.['notOnlyWhitespace']">
                    Nome deve ter no mínimo 2 caracteres
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!--Sobrenome-->
          <div class="row">
            <div class="col-md-2">
              <label for="lastName">Sobrenome</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="lastName" id="lastName" type="text">
                <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="alert alert-danger">
                  <div *ngIf="lastName?.errors?.['required'] || lastName?.errors?.['notOnlyWhitespace']">
                    Sobrenome é obrigatório
                  </div>
                  <div *ngIf="lastName?.errors?.['minlength'] && !lastName?.errors?.['notOnlyWhitespace']">
                    Sobrenome deve ter no mínimo 2 caracteres
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Email-->
          <div class="row">
            <div class="col-md-2">
              <label for="email">Email</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="email" id="email" type="text">
                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger">
                  <div *ngIf="email?.errors?.['required']">
                    Email é obrigatório
                  </div>
                  <div *ngIf="email?.errors?.['pattern']">
                    Email inválido
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Endereço de entrega-->
        <div class="form-area" formGroupName="shippingAddress">
          <h3>Endereço de entrega</h3>
          <!--País-->
          <div class="row">
            <div class="col-md-2">
              <label for="country">País</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select (change)="getStates('shippingAddress')" formControlName="country" id="country">
                  <option *ngFor="let country of countries"
                          [ngValue]="country"
                  >
                    {{country.name}}
                  </option>
                </select>
                <div
                  *ngIf="shippingAddressCountry?.invalid &&
                  (shippingAddressCountry?.dirty || shippingAddressCountry?.touched)"
                  class="alert alert-danger">
                  <div *ngIf="shippingAddressCountry?.errors?.['required']">
                    País é obrigatório
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Rua e numero-->
          <div class="row">
            <div class="col-md-2">
              <label for="street">Rua/Número</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" id="street" type="text">
                <div
                  *ngIf="shippingAddressStreet?.invalid &&
                  (shippingAddressStreet?.dirty || shippingAddressStreet?.touched)"
                  class="alert alert-danger">
                  <div
                    *ngIf="shippingAddressStreet?.errors?.['required'] ||
                    shippingAddressStreet?.errors?.['notOnlyWhitespace']">
                    Rua e número são obrigatórios
                  </div>
                  <div
                    *ngIf="shippingAddressStreet?.errors?.['minlength'] &&
                    !shippingAddressStreet?.errors?.['notOnlyWhitespace']">
                    Rua e número devem ter no mínimo 2 caracteres
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Cidade-->
          <div class="row">
            <div class="col-md-2">
              <label for="city">Cidade</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="city" id="city">
                  <option value="natal">Natal</option>
                  <option value="parnamirim">Parnamirim</option>
                  <option value="monte alegre">Monte Alegre</option>
                </select>
                <div
                  *ngIf="shippingAddressCity?.invalid &&
                  (shippingAddressCity?.dirty || shippingAddressCity?.touched)"
                  class="alert alert-danger">
                  <div *ngIf="shippingAddressCity?.errors?.['required']">
                    Cidade é obrigatório
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Estado-->
          <div class="row">
            <div class="col-md-2">
              <label for="state">Estado</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state" id="state">
                  <option *ngFor="let state of shippingAddressState"
                          [ngValue]="state.name">{{state.name}}
                  </option>
                </select>
                <div
                  *ngIf="shippingStateAddress?.invalid &&
                  (shippingStateAddress?.dirty || shippingStateAddress?.touched)"
                  class="alert alert-danger">
                  <div *ngIf="shippingStateAddress?.errors?.['required']">
                    Estado é obrigatório
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--CEP-->
          <div class="row">
            <div class="col-md-2">
              <label for="zipCode">CEP</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" id="zipCode" type="text">
                <div
                  *ngIf="shippingAddressZipCode?.invalid &&
                  (shippingAddressZipCode?.dirty || shippingAddressZipCode?.touched)"
                  class="alert alert-danger">
                  <div
                    *ngIf="shippingAddressZipCode?.errors?.['required'] ||
                    shippingAddressZipCode?.errors?.['notOnlyWhitespace']">
                    CEP é obrigatório
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Endereço de cobrança igual ao de entrega-->
        <div class="input-space">
          <label class="au-checkbox">
            <input (change)="copyShippingAddressToBillingAddress($event)" type="checkbox">
            <span class="au-checkmark"></span>Endereço de Cobrança igual ao de Entrega
          </label>
        </div>

        <!--Endereço de cobrança-->
        <div class="form-area" formGroupName="billingAddress">
          <h3>Endereço de cobrança</h3>
          <!--País-->
          <div class="row">
            <div class="col-md-2">
              <label for="billingCountry">País</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                  (change)="getStates('billingAddress')"
                  formControlName="country"
                  id="country"
                >
                  <option *ngFor="let country of countries"
                          [ngValue]="country">{{country.name}}
                  </option>
                </select>
                <div
                  *ngIf="billingAddressCountry?.invalid &&
                  (billingAddressCountry?.dirty || billingAddressCountry?.touched)"
                  class="alert alert-danger">
                  <div *ngIf="billingAddressCountry?.errors?.['required']">
                    País é obrigatório
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Rua e numero-->
          <div class="row">
            <div class="col-md-2">
              <label for="billingStreet">Rua</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" id="billingStreet" type="text">
                <div
                  *ngIf="billingAddressStreet?.invalid &&
                  (billingAddressStreet?.dirty || billingAddressStreet?.touched)"
                  class="alert alert-danger">
                  <div
                    *ngIf="billingAddressStreet?.errors?.['required'] ||
                    billingAddressStreet?.errors?.['notOnlyWhitespace']">
                    Rua e número são obrigatórios
                  </div>
                  <div
                    *ngIf="billingAddressStreet?.errors?.['minlength'] &&
                    !billingAddressStreet?.errors?.['notOnlyWhitespace']">
                    Rua e número devem ter no mínimo 2 caracteres
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Cidade-->
          <div class="row">
            <div class="col-md-2">
              <label for="billingCity">Cidade</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="city" id="billingCity">
                  <option value="natal">Natal</option>
                  <option value="parnamirim">Parnamirim</option>
                  <option value="monte alegre">Monte Alegre</option>
                </select>
                <div
                  *ngIf="billingAddressCity?.invalid &&
                  (billingAddressCity?.dirty || billingAddressCity?.touched)"
                  class="alert alert-danger">
                  <div *ngIf="billingAddressCity?.errors?.['required']">
                    Cidade é obrigatório
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Estado-->
          <div class="row">
            <div class="col-md-2">
              <label for="billingState">Estado</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state" id="billingState">
                  <option *ngFor="let state of billingAddressState"
                          [ngValue]="state.name"
                  >
                    {{state.name}}
                  </option>
                </select>
                <div
                  *ngIf="billingStateAddress?.invalid &&
                  (billingStateAddress?.dirty || billingStateAddress?.touched)"
                  class="alert alert-danger">
                  <div *ngIf="billingStateAddress?.errors?.['required']">
                    Estado é obrigatório
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--CEP-->
          <div class="row">
            <div class="col-md-2">
              <label for="billingZipCode">CEP</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" id="billingZipCode" type="text">
                <div
                  *ngIf="billingAddressZipCode?.invalid &&
                  (billingAddressZipCode?.dirty || billingAddressZipCode?.touched)"
                  class="alert alert-danger">
                  <div
                    *ngIf="billingAddressZipCode?.errors?.['required'] ||
                    billingAddressZipCode?.errors?.['notOnlyWhitespace']">
                    CEP é obrigatório
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Cartão de crédito-->
        <div class="form-area" formGroupName="creditCard">
          <h3>Cartão de crédito</h3>
          <!--Tipo cartão-->
          <div class="row">
            <div class="col-md-2">
              <label for="cardType">Tipo de cartão</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="cardType" id="cardType">
                  <option value="visa">Visa</option>
                  <option value="visa">Master</option>
                </select>
                <div *ngIf="cardType?.invalid && (cardType?.dirty || cardType?.touched)" class="alert alert-danger">
                  <div *ngIf="cardType?.errors?.['required']">
                    Bandeira do cartão é obrigatório
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Nome proprietário cartão-->
          <div class="row">
            <div class="col-md-2">
              <label for="nameOnCard">Nome no cartão</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="nameOnCard" id="nameOnCard" type="text">
                <div *ngIf="nameOnCard?.invalid && (nameOnCard?.dirty || nameOnCard?.touched)"
                     class="alert alert-danger">
                  <div *ngIf="nameOnCard?.errors?.['required'] || nameOnCard?.errors?.['notOnlyWhitespace']">
                    Nome do proprietário do cartão é obrigatório
                  </div>
                  <div *ngIf="nameOnCard?.errors?.['minlength'] && !nameOnCard?.errors?.['notOnlyWhitespace']">
                    Nome do proprietário do cartão deve ter no mínimo 2 caracteres
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Número cartão-->
          <div class="row">
            <div class="col-md-2">
              <label for="cardNumber">Número do cartão</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="cardNumber" id="cardNumber" type="text">
                <div *ngIf="cardNumber?.invalid && (cardNumber?.dirty || cardNumber?.touched)"
                     class="alert alert-danger">
                  <div *ngIf="cardNumber?.errors?.['required'] || cardNumber?.errors?.['notOnlyWhitespace']">
                    Número do cartão é obrigatório
                  </div>
                  <div *ngIf="cardNumber?.errors?.['pattern'] && !cardNumber?.errors?.['notOnlyWhitespace']">
                    Número do cartão deve ter 16 caracteres numéricos
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Código de Segurança-->
          <div class="row">
            <div class="col-md-2">
              <label for="securityCode">Código de segurança</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="securityCode" id="securityCode" type="text">
                <div *ngIf="securityCode?.invalid && (securityCode?.dirty || securityCode?.touched)"
                     class="alert alert-danger">
                  <div *ngIf="securityCode?.errors?.['required'] || securityCode?.errors?.['notOnlyWhitespace']">
                    Código de segurança do cartão é obrigatório
                  </div>
                  <div *ngIf="securityCode?.errors?.['pattern'] && !securityCode?.errors?.['notOnlyWhitespace']">
                    Código de segurança do cartão deve ter 3 caracteres numéricos
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Validade mês-->
          <div class="row">
            <div class="col-md-2">
              <label for="expirationMonth">Validade/Mês</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationMonth" id="expirationMonth">
                  <option *ngFor="let month of creditCardMonths" value="{{month}}">{{month}}</option>
                </select>
                <div *ngIf="expirationMonth?.invalid && (expirationMonth?.dirty || expirationMonth?.touched)"
                     class="alert alert-danger">
                  <div *ngIf="expirationMonth?.errors?.['required']">
                    Mês de validade do cartão é obrigatório
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Validade ano-->
          <div class="row">
            <div class="col-md-2">
              <label for="expirationYear">validade/Ano</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select (change)="handleMonthsAndYears()" formControlName="expirationYear" id="expirationYear">
                  <option *ngFor="let year of creditCardYears" value="{{ year }}">{{ year }}</option>
                </select>
                <div *ngIf="expirationYear?.invalid && (expirationYear?.dirty || expirationYear?.touched)"
                     class="alert alert-danger">
                  <div *ngIf="expirationMonth?.errors?.['required']">
                    Ano de validade do cartão é obrigatório
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Resumo da compra-->
        <div class="form-area" style="font-weight: bold">
          <h3>Resumo da compra</h3>
          <p>Quantidade total de itens: {{ totalQuantity }}</p>
          <p>Frete: GRÁTIS</p>
          <p>Valor total da compra: {{ totalPrice | currency: 'USD' }}</p>
        </div>

        <!--Submit button-->
        <div class="text-center">
          <button class="btn btn-info" type="submit">
            Comprar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
